<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--This is the path of the folder which would be containing agents (.exe,.jar etc)-->
    <add key="AgentsMainPath" value="D:\Uni\Artificial Intelligence\AI Project\Ludo-Game-Server\LGClient\" />
    <add key="PlayersPerGame" value="4"/>
    <add key="IsTournament" value="false"/>
    <add key="ExecuteRoundOnKeyPress" value="false"/>
    <add key="GamesCount" value="3"/>
    <add key="JavaExePath" value="C:\Program Files\Java\jdk1.8.0_131\bin\java.exe"/>
    <add key="MaxTimeOut" value="100"/>

  </appSettings>
</configuration>